qualificacao-vinicius.aux
qualificacao-vinicius.bbl
qualificacao-vinicius.blg
qualificacao-vinicius.lof
qualificacao-vinicius.log
qualificacao-vinicius.lot
qualificacao-vinicius.out
qualificacao-vinicius.pdf
qualificacao-vinicius.toc
